* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(./img/rain.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

header {
  background-color: transparent;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-bottom: 5px solid #ffffff24;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
footer {
  padding-top: 2rem;
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: self-start;
}
#searchInput {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
#searchBtn {
  margin-bottom: 2px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ffff;
}
#searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 0.5rem;
  color: #ffff;
  border: none;
}
#headerBottom {
  display: flex;
  align-items: center;
  gap: 10px;
}
#TempSpan {
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -0.08em;
  text-align: left;
}
#CitySpan {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
}
#DateSpan {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

#tetxDiv {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  align-items: center;
  position: relative;
}

#span404 {
  color: red;
  position: absolute;
  right: 4.3rem;
  top: 2.5rem;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  display: none;
}
#searchDiv1023 {
  display: none;
}
#footerTop {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
}

#changeWeatherDetails {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  background: inherit;
  border: none;
  color: #ffff;
}
#weatherInfoSpan {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
#mainTempDiv {
  padding-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#tempDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#tempDiv span {
  display: flex;
  align-items: start;
  justify-content: start;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
#rightIfno {
  display: flex;
  gap: 1rem;
}
#footerBottom {
  display: grid;
}
#lideDIv {
  width: 70%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 2rem;
  justify-self: center;
}
input {
  color: #ffff;
}

@media (width > 766px) {
  body {
    background-image: url(./img/tablet.jpg);
    overflow: hidden;
  }

  #searchInput,
  #span404 {
    font-size: 18px !important;
  }
  #span404 {
    right: 5rem;
    top: 5rem;
  }
  #searchBtn {
    margin-top: 7px;
  }
  #headerTopLogo img {
    width: 7rem;
  }

  #TempSpan {
    font-size: 120px;
  }
  #CitySpan {
    font-size: 48px;
  }
  #DateSpan {
    font-size: 16px;
  }
  #logoSpan img {
    width: 50px;
  }
  header {
    padding-bottom: 2rem;
  }
  #changeWeatherDetails {
    font-size: 18px;
  }
  #weatherInfoSpan {
    font-size: 18px;
  }
  #tempDiv span {
    font-size: 18px;
  }
  #mainTempDiv {
    margin-top: 2rem;
    gap: 2rem;
  }
  #lideDIv {
    margin-top: 7rem;
  }
}

@media (width > 1024px) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    background-image: url(./img/desktop.jpg);
  }

  #changeWeatherDetails {
    display: flex;
    justify-content: start;
  }
}
